<div class="collapse navbar-collapse" id="top-tabs">
	<ul class="nav nav-tabs">
		<li id="group-tab" role="presentation" class="active"><a>Group List</a></li>
		<li id="grades-tab" role="presentation" class="active"><a>Grades</a></li>
		<li id="final-tab" role="presentation" class="active"><a>Final Grade</a></li>
		<li class="dropdown active">
			<a class="dropdown-toggle" data-toggle="dropdown">
				Classes <span class="caret"></span>
			</a>
			<ul id="saves" class="dropdown-menu">
				<li id="save1"><a href="" tab-index="-1">Save Class</a></li>
				<li id="save2"><a href="" tab-index="-1">Save Class</a></li>
				<li id="save3"><a href="" tab-index="-1">Save Class</a></li>
			</ul>

		</li>
	<li class="divider"></li>
	<li id="add-group" role="presentation" class="pull-right"><a>Add Group</a></li>
</ul>
</div>